@charset "UTF-8";
/* topページと共通（加筆なし） */
:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  font-weight: 500;
  overflow-y: inherit;
}

body {
  min-width: 375px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 1.5rem;
  overflow-x: hidden;
  position: relative;
  font-family: YuMincho,'Yu Mincho',serif;
  /* mac用,Windows用,その他 */
  color: #707070;
  background: #F4F4F4;
}

@media (min-width: 641px) {
  body {
    overflow-x: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li, dl, dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

time {
  font-family: 'Oswald';
}

.l-footer {
  text-align: center;
}

.l-footer p {
  padding-top: 100px;
  padding-bottom: 30px;
}

/* about内使用 */
.c-btn--circle {
  position: relative;
  border-radius: 50%;
  box-shadow: 12px 13px 9px -10px rgba(185, 185, 185, 0.3) inset, -10px -10px 15px -10px #ffffff inset;
  width: 96px;
  height: 96px;
  text-align: center;
  line-height: 96px;
}

/*
.c-dl--level1
	timelineの ul>li>dlタグに使用
	dl内文章の重ねるか並べるかの設定
	ボタンサークル間の線をborder-leftで設定
		同時にpaddingも設定
		pc版の時のmargin-topの設定に自信がない・・・・・・・・・・・・・・・・・・

.c-dl--pro
	profileの figure>figcaption>dlタグに使用
	カーニングの設定、余白の設定

*/
.c-dl--level1 {
  padding: 20px 14px;
  border-left: solid 1px #C1C1C1;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .c-dl--level1 {
    padding: 0;
    padding-left: calc( 14px + 48px);
    margin-top: 37.5px;
  }
}

.c-dl--pro {
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .c-dl--pro {
    padding-left: 75px;
  }
}

.c-dl--pro dt {
  margin-top: 47px;
}

.c-dl--pro dd {
  line-height: 3.5rem;
}

.c-dl--pro dd:first-of-type {
  margin-top: 25px;
}

/*
.c-layout-list
	timelineの ulタグに使用
	p（ボタン）,dl（c-dl--level1）を重ねるか並べるかの設定
	ボタンサークル間の線をborder-leftで設定

.c-layout-list__item
	timelineの ul>liタグに使用

.c-dl--pro
	profileの figure>figcaption>dlタグに使用
	カーニングの設定、余白の設定
*/
.c-layout-list {
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  justify-content: center;
  /* 水平方向の指定 */
  align-items: flex-start;
  /* 垂直方向の指定 */
  /* ボタン内年号のカーニング */
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

.c-layout-list__item {
  min-width: 80%;
  /* レスポンシブ対応 */
}

.c-layout-list__item:last-of-type .c-dl--level1 {
  border-left: none;
}

@media (min-width: 480px) {
  .c-layout-list__item {
    display: flex;
    flex-direction: row;
    /* 横並び */
  }
}

.c-section-title {
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 4.0rem;
}

.p-mainvisual {
  height: 668px;
  padding-top: 240px;
  /* レスポンシブ対応 */
  background-image: url("../../../../../images/about/background__pc.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto 75%;
  /* レスポンシブ対応 */
  text-align: center;
}

@media (min-width: 480px) {
  .p-mainvisual {
    height: 800px;
    padding-top: 252px;
  }
}

@media (min-width: 480px) {
  .p-mainvisual {
    background-size: auto;
  }
}

.p-mainvisual__title {
  width: 80%;
  margin: auto;
}

.p-mainvisual__title h1 {
  font-size: 4.0rem;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-mainvisual__title h1 {
    font-size: 7.0rem;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
  }
}

.p-mainvisual__title p {
  margin-top: 50px;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-mainvisual__title p {
    margin-top: 50px;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}

.p-mainvisual > p {
  width: 80%;
  margin: auto;
  margin-top: 107px;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

@media (min-width: 480px) {
  .p-mainvisual > p {
    margin-top: 65px;
  }
}

.p-introduction {
  width: 80%;
  margin: auto;
  margin-top: 103px;
  text-align: center;
  /* レスポンシブ対応の改行位置の調整 */
}

.p-introduction span {
  display: inline-block;
}

.p-introduction ul .c-section-title {
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-introduction ul .c-section-title {
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}

.p-introduction ul li {
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  line-height: 3.5rem;
}

.p-introduction ul li:first-of-type {
  margin-top: 50px;
}

.p-introduction p {
  margin-top: 49px;
  line-height: 2.0rem;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-introduction p {
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}

.p-profile {
  width: 80%;
  margin: auto;
  margin-top: 147px;
  text-align: center;
}

.p-profile .c-section-title {
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-profile .c-section-title {
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}

.p-profile p {
  margin-top: 51px;
  line-height: 2.0rem;
  /* レスポンシブ対応の改行位置の調整 */
}

@media (min-width: 480px) {
  .p-profile p {
    margin-top: 63px;
    line-height: 3.5rem;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}

.p-profile p span {
  display: inline-block;
}

.p-profile .p-card--profile {
  margin-top: 84px;
}

.p-profile .p-card--profile__caption {
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-profile .p-card--profile__caption {
    text-align: left;
    /* dlタグ内左揃え */
  }
}

/*
p-card--profile
	p-profileのfigureに使用
	写真と自己紹介部分

p-card--profile__caption
	p-profileのfigcaptionに使用
	写真と文字の自己紹介部分

*/
.p-card--profile__caption {
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  justify-content: center;
  /* 水平方向の指定 */
  align-items: center;
  /* 垂直方向の指定 */
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-card--profile__caption {
    flex-direction: row;
    /* 横並び */
    align-items: flex-end;
    /* 下揃え */
  }
}

.p-timeline {
  width: 80%;
  margin: auto;
  margin-top: 48px;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-timeline {
    margin-top: 120px;
  }
}

.p-timeline .c-layout-list {
  max-width: 809px;
  margin: auto;
  text-align: left;
}

.p-timeline .c-layout-list__item .c-btn--circle {
  background-color: #F4F4F4;
}

.p-timeline .c-layout-list__item .c-dl--level1 {
  margin-left: 48px;
  /* レスポンシブ対応 */
}

@media (min-width: 480px) {
  .p-timeline .c-layout-list__item .c-dl--level1 {
    margin-left: -48px;
  }
}
/*# sourceMappingURL=style.css.map */