.l-footer {
	text-align: center;     // 中央寄せ
	p{
		padding-top: 100px;				// デザインには特にフッターの指定がないので、コピーライト上に30px(レスポンシブあり！！)
		padding-bottom: 30px;			// デザインには特にフッターの指定がないので、コピーライト下に30px(レスポンシブなしでOK)
	}
}