.c-section-title{
	font-size: 3.0rem;
	font-weight: bold;
	line-height: 4.0rem;
	// text-align: center;

	// &--small{
	//     @extend .c-section-title;   // .c-section-titleの継承
	//     font-size: 2.4rem;
	//     margin-bottom: 75px;          // フォントサイズの上書き
	// }
}


// dd{
//     line-height: 2.14;
// }