.p-timeline{
  // max-width: 865px;
  margin: 48px auto 0px auto;           // 中央寄せ
  .c-layout-list{
    &__item{
      .c-btn--circle {
        background-color: $base-color;
      }
      .c-dl--level1{
        margin-left: 48px;    // 年月ボタンの半分まで余白(サイズ:半径）
        /* レスポンシブ対応 */
        @include breakpoint( pc ){
          margin-left: -48px;
        }
      }
    }
  }
}