.p-timeline{
  width: 80%;
  margin: auto;         // 中央寄せ
  margin-top: 48px;
  /* レスポンシブ対応 */
  @include breakpoint( pc ){
    margin-top: 120px;
  }
  .c-layout-list{
    max-width: 809px;
    margin: auto;         // 中央寄せ
    text-align: left;
    &__item{
      .c-btn--circle {
        background-color: $base-color;
      }
      .c-dl--level1{
        margin-left: 48px;    // 年月ボタンの半分まで余白(サイズ:半径）
        /* レスポンシブ対応 */
        @include breakpoint( pc ){
          margin-left: -48px;
        }
      }
    }    
  }
}