$base-color: #F4F4F4;
$font-color: #707070;

// サイズ
$aboutBox-w-pc: 213px;
$flowBox-w-sp: 167px;
$flowBox-w-pc: 120px;



// /* Colors: */
// $unnamed-color-b9b9b9: #B9B9B9;
// $unnamed-color-707070: #707070;
// $unnamed-color-000000: #000000;
// $unnamed-color-f4f4f4: #F4F4F4;
// $unnamed-color-ffffff: #FFFFFF;